.background {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: url("DefaultBackgroundImageBlack.png") center fixed
    no-repeat;
  background-size: cover;
  position: relative;
}