.main-div-faculty {
    background-color: #F4F7FF;
    height: 100%;
}

.wrapper-faculty {
    display: grid;
    grid-template-rows: 0.9fr 1fr;
    font-size: 10vh;
    width: 100%;
    height: 100%;
}

.top-faculty {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    background-color: #F4F7FF;
}

.name-faculty {
    position: relative;
    top: 20%;
}

.photo-faculty img {
    position: absolute;
    left: 0;
    height: 65%;
}

.name-faculty .name {
    background-color: #DBEDFE;
    border-radius: 10px;
    margin: 0 auto;
    width: 15%;
    text-align: center;
}

.name-faculty .name p {
    font-weight: 600;
    font-size: 18px;
    color: #3877CD;
    padding: 2%;
}

.name-faculty span {
    display: inline-block;
    width: 90%;
    font-size: 28px;
    vertical-align: bottom;
    color: #323449;
    font-weight: 600;
}
.name-faculty span a {
    color: #323449;
}
.name-faculty span a:hover {
    text-decoration: underline;
    color: #3877CD;
}

.name-faculty hr {
    border: none;
    background-color: #6787C1;
    border-radius: 2px;
    height: 3px;
    margin-top: 3%;
    width: 30%;
    margin-left: 35%;
}

.box-faculty {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: minmax(1fr, auto);
    align-self: center;
    justify-items: center;
    margin-bottom: 15vh;
}

.box-faculty div {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    width: 80%;
    border-radius: 15px;
    box-shadow: 1px 6px 20px 2px rgba(0, 0, 0, 0.15);
}

.box-faculty img {
    align-self: center;
    width: 14%;
    padding: 5% 0 0 0;
    text-align: center;
}

.box-faculty span {
    position: relative;
    top: 5%;
    font-weight: bold;
    font-size: 22px;
}

.box-faculty p {
    font-size: 16px;
    color: #54585E;
    padding: 6%;
    line-height: 26px;
}

.bottom-faculty {
    display: grid;
    grid-template-rows: 1fr 2.3fr;
    background-color: white;
    width: 100%;
    margin-bottom: 10vh;
}

.name-bottom {
    margin: 0 auto;
    position: relative;
    top: 20%;
}

.name-bottom div {
    background-color: #DBEDFE;
    border-radius: 12px;
    margin: 0 auto;
    justify-content: center;
    width: 28%;
}

.name-bottom div p {
    font-weight: 600;
    font-size: 18px;
    color: #3877CD;
    padding: 2%;
}

.name-bottom span {
    display: inline-block;
    font-size: 35px;
    color: #323449;
    font-weight: 600;
}

.name-bottom hr {
    border: none;
    background-color: #6787C1;
    border-radius: 2px;
    height: 3px;
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
}

.disciplines-faculty {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: minmax(1fr, auto);
    box-shadow: 1px 6px 25px 1px rgba(0, 0, 0, 0.12);
    align-self: center;
    justify-items: center;
    border-radius: 10px;
    color: #323449;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.discipline-fac {
    width: 100%;
    background-color: #F4F7FF;
    font-size: 25px;
    padding: 1.5%;
}

.discipline-fac-1 {
    font-size: 25px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 1.5%;
}

.circular {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media screen and (max-width: 1135px){
    .bottom-faculty {
        grid-template-rows: 1.6fr 2.3fr;
    }

    .disciplines-faculty {
        height: 90%;
    }
}

@media screen and (max-width: 1024px) {
    .name-faculty .name {
        width: 18%;
    }

    .name-faculty .name p {
        font-size: 16px;
    }

    .name-faculty span {
        font-size: 24px;
    }

    .box-faculty img {
        width: 18%;
    }

    .box-faculty span {
        font-size: 20px;
    }

    .box-faculty p {
        font-size: 14px;
    }

    .bottom-faculty {
        grid-template-rows: 1.5fr 2.3fr;
    }

    .disciplines-faculty {
        height: 90%;
    }
}

@media screen and (max-width: 838px) {
    .bottom-faculty {
        grid-template-rows: 1.8fr 2.3fr;
    }

    .disciplines-faculty {
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 768px) {
    .name-faculty .name {
        width: 24%;
    }

    .name-faculty span {
        font-size: 20px;
    }

    .top-faculty {
        grid-template-rows: 1fr 3.5fr;
    }

    .box-faculty {
        grid-template-columns: 1fr;
        grid-row-gap: 3%;
    }

    .box-faculty img {
        width: 12%;
    }

    .bottom-faculty {
        grid-template-rows: 2fr 2.8fr;
    }

    .name-bottom div {
        width: 32%;
    }

    .name-bottom span {
        font-size: 28px;
    }

    .discipline-fac {
        font-size: 22px;
    }

    .discipline-fac-1 {
        font-size: 22px;
    }
}

@media screen and (max-width: 450px) {
    .name-faculty .name {
        width: 35%;
    }

    .name-faculty span {
        font-size: 18px;
    }

    .name-faculty .name p  {
        font-size: 14px;
    }

    .bottom-faculty {
        grid-template-rows: 1.6fr 2.8fr;
    }

    .name-bottom span {
        font-size: 25px;
    }

    .name-bottom div {
        width: 40%;
    }

    .name-bottom div p {
        font-size: 14px;
    }

    .discipline-fac {
        padding: 2%;
        font-size: 18px;
    }

    .discipline-fac-1 {
        padding: 2%;
        font-size: 18px;
    }
}

@media screen and (max-width: 376px) {
    .name-faculty .name {
        width: 40%;
    }

    .top-faculty {
        grid-template-rows: 1fr 3.5fr;
    }

    .bottom-faculty {
        grid-template-rows: 1fr 1.5fr;
    }

    .name-bottom span {
        font-size: 22px;
    }

    .disciplines-faculty {
        margin-bottom: 20%;
    }
}

@media screen and (max-width: 321px) {
    .name-faculty .name {
        width: 45%;
    }

    .name-faculty .name p {
        font-size: 12px;
    }

    .name-faculty span {
        font-size: 16px;
    }

    .top-faculty {
        grid-template-rows: 1fr 4fr;
    }

    .photo-faculty img {
        height: 50%;
    }

    .bottom-faculty {
        grid-template-rows: 1fr 2fr;
    }

    .name-bottom div {
        width: 50%;
    }

    .name-bottom div p {
        font-size: 14px;
    }

    .name-bottom span {
        font-size: 20px;
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: auto;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: #0080ff;
    border: 0 none #ffffff;
    background: -webkit-linear-gradient(to top, #82c3ff 30%, #3877CD 60%, #0080ff 100%);
    background: -moz-linear-gradient(to top, #82c3ff 30%, #3877CD 60%, #0080ff 100%);
    background: -o-linear-gradient(to top, #82c3ff 30%, #3877CD 60%, #0080ff 100%);
    background: -ms-linear-gradient(to top, #82c3ff 30%, #3877CD 60%, #0080ff 100%);
    background: linear-gradient(to top, #82c3ff 30%, #5e97e5 70%, #0080ff 100%);
}
