@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");


.restore-password {
  display: flex;
  justify-content: center;
  width: 100%;
  height:100%;
  position: absolute;
  top:0;

  .restore-password-flexbox {
    align-self: center;
    margin: 0;
    width: 60%;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .header-text {
      font-weight: 600;
      width: 100%;
      font-size: 40px;
      text-align: center;
      color: #cfb389;
      -webkit-text-stroke: 0.5px black;
    }

    .input {
      width: 280px;
      opacity: 0.7;

      .MuiOutlinedInput-notchedOutline {
        border: 2px solid #cfb389;
      }

      .label {
        color: #cfb389;
        font-size: 20px;
        -webkit-text-stroke: 0.5px black;
      }
    }

    .restore-password-btn {
      background: #cfb389;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
      border: none;
      border-radius: 12px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 18px;
      color: #ffffff;
      padding: 5px;
    }

    .restore-password-btn:hover {
      color: #cfb389;
      background-color: black;
    }
  }
}

@media screen and (max-width: 1750px) {
  .restore-password {
    .restore-password-flexbox {
      width: 90%;

      .header-text {
        font-size: 37px;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .restore-password {
    .restore-password-flexbox {
      width: 90%;
    }

    .header-text {
      font-size: 33px;
    }
  }
}

@media screen and (max-width: 850px) {
  .restore-password {
    .restore-password-flexbox {
      width: 90%;

      .header-text {
        font-size: 28px;
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .restore-password {
    .restore-password-flexbox {
      width: 90%;

      .header-text {
        font-size: 22px !important;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .restore-password {
    .restore-password-flexbox {
      width: 90%;

      .header-text {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .restore-password {
    .restore-password-flexbox {
      width: 90%;
    }
  }
}