# Dependency directories
node_modules/
jspm_packages/
.idea
.vs/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.local

/package-lock.json

build/