.all {
  display: flex;
  width: 100vw;
  max-height: 100vh;

  .rigth {
    width: 55%;
    
    img {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }

  .left {
    width: 35%;
    margin: 0 5%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    
    .image-header {
      height: 30px;
    }
  
    .header-text {
      display: flex;
      font-style: normal;
      font-weight: 550;
      font-size: 40px;
      line-height: 68px;
      margin-bottom: 2vh;
      margin-top: 5vh;
      color: #323449;
    }
  
    .sign-in {
      width: 100%;
      padding-bottom: 2.5vh;
    }
  
    .input-fields {
      margin: 3vh 0;
  
      .input {
        width: 100%;
      }

      .label {
        color: black;
      }
  
      .MuiOutlinedInput-multiline {
        border: 1px solid #323449;
      }
      
      .MuiOutlinedInput-root {
        background: white;
        border-radius: 10px;
        height: 40px;
      }
    }
  
    .login {
      display: flex;
      justify-content: center;
      align-items: center;
  
      .login-btn {
        width: 100%;
        background: #215BFD;
        mix-blend-mode: normal;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-style: normal;
        font-size: 20px;
        line-height: 33px;
        color: #FFFFFF;  
        text-transform: capitalize;
        padding: 0.5vh 0;
      }
    }
    
    .buttons {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 33px;
      margin: 0;
      
      a {
        padding-left: 8px;
        text-decoration: none;
        color: #215BFD;
      }
    }
  
    .memory {
      display: flex;
      font-style: normal;
      align-items: center;
      font-weight: 500;
      line-height: 33px;
      width: 35vw;

      .left-box {
        display: flex;
        align-items: center;
        width: 50%;
        font-size: 18px;

        .checkbox {
          transform: scale(1.3);
        }
  
        .left-text-checkbox {
          margin-left: 10px;
        }
      }
  
      .forgot-password {
        width: 50%;
        text-align: right;
        font-size: 18px;

        a {
          text-decoration: none;
          color: #215BFD;
        }
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .all .left {
    .header-text {
      font-size: 35px;
    }

    .memory {
      font-size: 19px;
    }

    .buttons {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .all .left {
    .header-text {
      font-size: 29px;
    }

    .memory {
      font-size: 15px;
    }

    .buttons {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .all .left {
    .header-text {
      font-size: 25px;
    }

    .memory {
      font-size: 12px;
    }

    .buttons {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 850px) {
  .all {
    .rigth {
      display: none;
    } 

    .left {
      width: 90%;
      margin: 5% 10%;

      .header-text {
        font-size: 45px;
      }

      .memory {
        font-size: 24px;
        width: 80vw;
      }

      .buttons {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .all .left {
    .header-text {
      font-size: 35px;
    }

    .memory {
      .left-box {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .all .left {
    .header-text {
      font-size: 30px;
    }

    .memory {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 470px) {
  .all .left {
    .header-text {
      font-size: 25px;
    }

    .memory {
      font-size: 12px;
    }

    .buttons {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 375px) {
  .all .left {
    .header-text {
      font-size: 20px;
    }

    .memory {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 307px) {
  .all .left {
    .header-text {
      font-size: 15px;
    }

    .memory {
      .left-box {
        font-size: 10px;
      }

      .forgot-password {
        font-size: 10px;
      }
    }

    .buttons {
      font-size: 13px;
    }
  }
}
