.restore-password {
  display: flex;
  width: 100vw;
  max-height: 100vh;

  .rigth-restore-password {
    width: 55%;

    img {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }

  .left-restore-password {
    width: 35%;
    margin: 0 5%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;

    .image-header-restore-password a img {
      height: 30px;
    }
  
    .header-text-1 {
      display: flex;
      font-style: normal;
      font-weight: 550;
      font-size: 35px;
      line-height: 68px;
      margin-bottom: 2vh;
      margin-top: 15vh;
      color: #323449;
    }
  
    .input-fields-restore-password {
      margin: 2vh 0;
  
      .input {
        width: 100%;
      }

      .label {
        color: black;
      }
  
      .MuiOutlinedInput-multiline {
        border: 1px solid #323449;
      }
      
      .MuiOutlinedInput-root {
        background: white;
        border-radius: 10px;
        height: 40px;
      }
    }
  
    .restore-password-for-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2vh;
  
      .restore-password-btn {
        width: 100%;
        background: #215BFD;
        mix-blend-mode: normal;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-style: normal;
        font-size: 18px;
        line-height: 33px;
        color: #FFFFFF;  
        text-transform: none;
        padding: 0.5vh 0;
      }
    }

    .buttons-for-restore-password {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 33px;
      margin: 0;
      
      a {
        padding-left: 8px;
        text-decoration: none;
        color: #215BFD;
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .restore-password .left-restore-password {
    .header-text-1 {
      font-size: 35px;
    }

    .buttons-for-restore-password {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 850px) {
  .restore-password {
    .rigth-restore-password {
      display: none;
    } 

    .left-restore-password {
      width: 90%;
      margin: 5% 10%;

      .header-text-1 {
        font-size: 35px;
      }

      .buttons-for-restore-password {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .restore-password .left-restore-password .header-text-1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 450px) {
  .restore-password .left-restore-password {
    .buttons-for-restore-password {
      font-size: 17px;
    }

     .header-text-1 {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 330px) {
  .restore-password .left-restore-password { 
    .header-text-1 {
      font-size: 15px;
    }

    .buttons-for-restore-password {
      font-size: 13px;
    }
  }
}