.appraise-user-logo {
  width: 30px;
  height: 30px;
}

.toggle-user-logo {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.all-users-table-cell-username, .update-users-icon{
  cursor: pointer;
}
