.appraise-main-container {
  .appraise-user-logo {
    width: 30px;
    height: 30px;
  }
}

.appraise-modal-main-container {
  color: white;
  background-color: #a1a1a1;
  padding: 1vw;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  
  .appraise-modal-span {
    font-size: 35px;
  }

  .appraise-modal-button {
    background: #cfb389;
    border: 3px solid #cfb389;
    box-sizing: border-box;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
    padding: 1%;
    cursor: pointer;
  }
}
