.all-users-updater-container {
  width: 40vw;
  height: 75vh;
  background-color: #000000;
  position: absolute;
  border-radius: 20px;
  padding: 3%;
  color: white;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .all-users-updater-form {
    width: 100%;
    display: flex;
    flex-direction: column;

    .label {
      color: #cfb389;
      background-color: black;
      padding: 4px;
      box-sizing: border-box;
      font-weight: 700;
    }

    .all-users-updater-form-input {
      outline: 1px solid #cfb389;
      background-color: rgb(85, 79, 66);
      width: 95%;
      margin-bottom: 15px;
      border-radius: 5px;
    }

    .all-users-updater-select-helper {
      outline: 1px solid #cfb389;
      background-color: rgb(85, 79, 66);
      padding: 8px 12px;
      width: 95%;
      margin-bottom: 15px;
      border-radius: 5px;
    }
  }
  .all-users-updater-exit {
    position: absolute;
    top: 0;
    right: 3%;
    color: #cfb389;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
  }
  .all-users-updater-exit:hover {
    color: red;
    font-size: 30px;
  }

  .all-users-updater-description {
    text-align: center;
    margin: 5px 0;
    margin-bottom: 5vh;
  }

  .all-users-updater-submit {
    background-color: #cfb389;
    font-size: 23px;
    padding: 5px 9px;
    cursor: pointer;
    width: 65%;
    align-self: center;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5vh;
  }

  .all-users-updater-submit:hover {
    background-color: #9b8564;
  }

  .select-helper-label {
    color: #cfb389;
    font-weight: bold;
    padding: 4px;
    background-color: black;
    margin: 7px 13px;
    z-index: 5;
    transition: 0.00001s;
  }
}

@media screen and (max-width: 700px) {
  .all-users-updater-container {
    width: 90vw;
    height: 90vh;
  }
}
