.first-page-sign-up {
  display: flex;
  width: 100vw;
  max-height: 100vh;

  .rigth-sign-up {
    width: 55%;

    img {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }

  .left-first-page-sign-up {
    width: 35%;
    margin: 10vh 5%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;

    .image-header-sign-up a img {
      height: 30px;
      margin-bottom: 5vh;
    }
  
    .header-text-1 {
      display: flex;
      font-style: normal;
      font-weight: 550;
      font-size: 40px;
      line-height: 68px;
      margin-bottom: 2vh;
      margin-top: 5vh;
      color: #323449;
    }
  
    .input-fields-sign-up {
      margin: 2vh 0;
  
      .input {
        width: 100%;
      }

      .label {
        color: black;
      }
  
      .MuiOutlinedInput-multiline {
        border: 1px solid #323449;
      }
      
      .MuiOutlinedInput-root {
        background: white;
        border-radius: 10px;
        height: 40px;
      }
    }
  
    .sign-up {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2vh;
  
      .sign-up-btn {
        width: 100%;
        background: #215BFD;
        mix-blend-mode: normal;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-style: normal;
        font-size: 18px;
        line-height: 33px;
        color: #FFFFFF;  
        text-transform: capitalize;
        padding: 0.5vh 0;
      }
    }

    .buttons-for-sign-up {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 500;
      line-height: 33px;
      margin: 0;
      
      p {
        font-size: 18px;
      }

      a {
        font-size: 18px;
        padding-left: 8px;
        text-decoration: none;
        color: #215BFD;
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .first-page-sign-up .left-first-page-sign-up {
    .header-text-1 {
      font-size: 35px;
    }

    .buttons-for-sign-up {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 850px) {
  .first-page-sign-up {
    .rigth-sign-up {
      display: none;
    } 

    .left-first-page-sign-up {
      width: 90%;
      margin: 5% 10%;

      .header-text-1 {
        font-size: 45px;
      }

      .buttons-for-sign-up {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .first-page-sign-up .left-first-page-sign-up .header-text-1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 375px) {
  .first-page-sign-up .left-first-page-sign-up .header-text-1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 330px) {
  .first-page-sign-up .left-first-page-sign-up { 
    .header-text-1 {
      font-size: 15px;
    }

    .buttons-for-sign-up {
      p {
        font-size: 13px;
      }
  
      a {
        font-size: 13px;
      }
    }
  }
}