.input-helper .MuiFormLabel-root {
  color: #cfb389;
  font-size: 20px;
}

.input-helper .MuiOutlinedInput-notchedOutline {
  color: #cfb389;
}

.input-helper .PrivateNotchedOutline-root-1 {
  font-size: 20px;
  background: rgba(255, 255, 255, 0.17);
  border: 1px solid #cfb389;
  box-sizing: border-box;
}

.input-helper .MuiInputBase-input {
  color: white;
  width: 30vw;
  height: 1vh;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #cfb389 !important;
}

.Mui-focused {
  color: #cfb389 !important;
}
