.main-select-menu {
  width: 55%;
  background-color: #cfb389;
  border-radius: 10px;
  
  .MuiSelect-select {
    height: 4vh;
    color: black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.63);
    display: flex;
    align-items: center;
  }

  .MuiSelect-select:focus {
    color: black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.63);
  }

}

.MuiMenu-list {
  background-color: #cfb389;
  
  .main-select-menu-placeholder {
    display: none;
  }
}