.main-select-menu {
  height: 70%;
  width: 55%;
  margin: 10%;
  background-color: #cfb389;
  border-radius: 10px;

  .MuiSelect-select {
    color: #ffffff;
    border-radius: 10px;
    background-color: #cfb389;
  }
}
