.main-header {
    display: flex;
    align-items: center;

    height: 10vh;
    
    padding: 0 50px 0 50px;

    font-size: 20px;
}

.our-icon {
    height: 50px
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 100%;
}

.nav-button {
    list-style: none;
    display: inline-block;
    margin: 0 50px 0 0;
}

.nav-button a{
    text-decoration: none;
    color: #54585E;
}

.nav-button a.active-header {
    color: #0066FF;
}

.round-button {
    list-style: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #215BFD;
}

.round-button a{
    display: flex;
    align-items: center;
    text-align: center;

    color: #fff;
}

@media screen and (max-width: 1500px) {
    .right-header {
        width: 60%;
    }
}

@media screen and (max-width: 1000px) {
    .right-header {
        width: 80%;
        background-color: white;
    }
}
