.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 70px;
  background-color: #000000;
  box-sizing: border-box;
  padding: 0.4rem 1.5rem;

  .logo {
    box-sizing: border-box;
    padding: 0.4rem 0;

    .logo-left {
      height: 90%;
    }

    .logo-right {
      height: 90%;
    }
  }
}

.container {
  width: 100vw;
  height: 100vh;
  background: rgba(207, 179, 137, 0.19);
  position: absolute;
  top: 70px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;

  .profile {
    width: 300px;
    height: 450px;
    background: rgba(207, 179, 137, 0.46);
    box-shadow: -5px 7px 15px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    margin: 5px auto;
    text-align: center;

    .evaluatee {
      padding: 5px;
    }

    .horizontal-rule {
      border: 0.2px solid rgba(0, 0, 0, 0.1);
    }

    .profile-image {
      margin-top: 4px;
    }

    .profile-identity {
      width: 90%;
      margin: 0 auto;
      text-align: left;

      .profile-identity-details {
        list-style-type: none;

        .profile-detail {
          font-size: 18px;
        }
        .profile-input {
          font-size: 18px;
          font-weight: 600;
          position: relative;
          left: 6px;
        }
      }
    }
  }

  .description-container {
    width: 85%;
    margin: 0 auto;

    .description-header {
      font-size: 24px;
      text-align: left;
      margin: 5px 0;
    }

    .description {
      font-size: 17px;
      text-align: center;
      line-height: 1.5rem;
    }

    .survey-link {
      .link-to-survey {
        color: white;
        background-color: #cfb389;
        box-sizing: border-box;
        padding: 0.5rem;
        border-radius: 5px;
        display: block;
        width: 8rem;
        margin: 4px auto;
      }

      .link-to-survey:hover {
        background-color: black;
        padding: 9px;
        color: #ecd1a9;
      }

      .link-to-survey:active {
        position: relative;
        top: 2px;
      }
    }
  }
}

@media screen and (min-width: 270px) and (max-width: 300px) {
  .container {
    height: 100vh;
    .profile {
      width: 250px;
      height: 450px;
      background: rgba(207, 179, 137, 0.46);
      box-shadow: -5px 7px 15px rgba(0, 0, 0, 0.25);
      border-radius: 40px;
      margin: 1px auto;
      text-align: center;

      .evaluatee {
        padding: 2px;
      }

      .horizontal-rule {
        border: 0.2px solid rgba(0, 0, 0, 0.1);
      }

      .profile-image {
        display: block;
        margin: 2px auto;
      }

      .profile-identity {
        width: 100%;
        margin: 0 auto;
        text-align: left;

        .profile-identity-details {
          list-style-type: none;

          .profile-detail {
            font-size: 18px;
            position: relative;
            left: 5px;
          }
          .profile-input {
            font-size: 18px;
            font-weight: 600;
            position: relative;
            left: 20px;
          }
        }
      }
    }

    .description-container {
      box-sizing: border-box;
      padding: 1rem 0.5rem;
      height: 450px;
      width: 100%;

      .description-header {
        font-size: 24px;
        text-align: left;
        margin: 5px 0;
      }

      .description {
        font-size: 17px;
        text-align: center;
        line-height: 1.5rem;
      }

      .survey-link {
        .link-to-survey {
          color: white;
          background-color: #cfb389;
          box-sizing: border-box;
          padding: 0.5rem;
          border-radius: 5px;
          display: block;
          width: 8rem;
          margin: 4px auto;
        }

        .link-to-survey:hover {
          background-color: black;
          padding: 9px;
          color: #ecd1a9;
        }

        .link-to-survey:active {
          position: relative;
          top: 2px;
        }
      }
    }
  }
}

@media screen and (min-width: 541px) {
  .container {
    flex-direction: row-reverse;
    justify-content: space-between;

    .description-container {
      box-sizing: border-box;
      padding: 4rem 2rem;
      height: 450px;
      width: 60%;
      

      .description-header {
        font-size: 27px;
        text-align: center;
        margin: 5px 0;
      }

      .description {
        font-size: 17px;
        text-align: center;
        line-height: 1.5rem;
      }

      .survey-link {
        .link-to-survey {
          margin: 7px auto;
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .container {
    .description-container {
      padding: 5rem 2rem;
      height: 550px;
      width: 60%;

      .description-header {
        font-size: 30px;
        text-align: left;
        margin: 5px 0;
      }

      .description {
        font-size: 18px;
        text-align: center;
        line-height: 1.5rem;
      }

      .survey-link {
        .link-to-survey {
          margin: 7px auto;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .container {
    padding: 2.5rem;

    .description-container {
      padding: 5rem 2.5rem;
      height: 650px;
      width: 55%;
    }

    .survey-link {
      .link-to-survey {
        margin: 10px auto;
      }
    }
  }
}

@media screen and (min-width: 1250px) {
  .container {
    padding: 3rem;

    .description-container {
      padding: 5rem 2.5rem;
      height: 750px;
      width: 55%;

      .description-header {
        font-size: 33px;
      }
      .description {
        font-size: 20px;
      }

      .survey-link {
        .link-to-survey {
          margin: 15px auto;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) and (min-height: 1023px) {
  .container {
    flex-direction: column;
    justify-content: space-evenly;

    .description-container {
      height: 500px;
      width: 100%;

      .description-header {
        font-size: 30px;
        text-align: left;
        margin: 5px 0;
      }

      .description {
        font-size: 20px;
        text-align: center;
        line-height: 1.5rem;
      }

      .survey-link {
        .link-to-survey {
          font-size: 20px;
          margin: 10px auto;
          padding: 1rem 2.3rem;
          width: 13rem;
        }
      }
    }
    .profile {
      width: 350px;
      height: 500px;

      .profile-image {
        margin-top: 10px;
      }

      .profile-identity {
        margin: 10px auto;

        .profile-identity-details {
          .profile-detail {
            font-size: 20px;
          }
          .profile-input {
            font-size: 22px;
            left: 9px;
          }
        }
      }
    }
  }
}
