.survey-invite-body {
  width: 100vw;
  margin: 0;
  padding: 0;
  position:fixed;

  .survey-invite-header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    background-color: black;

    .survey-invite-logo {
      padding: 3px 0;
      text-align: center;
      

      .survey-invite-logo-left {
        height: 90%;
      }

      .survey-invite-logo-right {
        height: 90%;
        
      }
    }
  }

  .survey-invite-container {
    width: 100vw;
    background: rgba(207, 179, 137, 0.19);
    display: flex;
    flex-direction: column;
    padding: 5px;

    .survey-invite-profile {
      max-width: 60%;
      height: 60%;
      background: rgba(207, 179, 137, 0.46);
      box-shadow: -5px 7px 15px rgba(0, 0, 0, 0.25);
      border-radius: 40px;
      margin: 5px auto;
      text-align: center;
      padding: 4px;

      .survey-invite-evaluatee {
        margin: 6px;
      }

      .survey-invite-horizontal-rule {
        border: 0.2px solid rgba(0, 0, 0, 0.2);
      }

      .survey-invite-profile-image {
        margin: 4px auto;
      }

      .survey-invite-profile-identity {
        width: 90%;
        margin: 0 auto;
        text-align: left;

        .survey-invite-profile-identity-details {
          list-style-type: none;

          .survey-invite-profile-detail {
            font-size: 18px;
          }
          .survey-invite-profile-input {
            font-size: 18px;
            font-weight: 600;
            margin-left: 10px;
          }
        }
      }
    }

    .survey-invite-description-container {
      width: 85%;
      margin: 4px auto;

      .survey-invite-description-header {
        font-size: 24px;
        text-align: left;
        margin: 5px 0;
      }

      .survey-invite-description {
        font-size: 17px;
        text-align: center;
        line-height: 22px;
      }

      .survey-invite-survey-link {
        .survey-invite-link-to-survey {
          color: white;
          background-color: #cfb389;
          box-sizing: border-box;
          padding: 2%;
          border-radius: 5px;
          display: block;
          width: 8rem;
          margin: 4px auto;
        }

        .survey-invite-link-to-survey:hover {
          background-color: black;
          color: #ecd1a9;
        }

        .survey-invite-link-to-survey:active {
          margin-top: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .survey-invite-body {
    height: 100vh;

    .survey-invite-header{
      height: 10%;
    }
    .survey-invite-container {
      flex-direction: row-reverse;
      justify-content: space-evenly;
      height: 80%;

      .survey-invite-profile {
        width: 30%;
        height: 75%;
        margin: 4%;
        padding: 2%;

        .survey-invite-profile-image {
          margin: 8px auto;
          height: 45%;
          width: 90%;
        }

        .survey-invite-profile-identity {
          .survey-invite-profile-identity-details {
            .survey-invite-profile-input {
              font-size: 18px;
              font-weight: 600;
              margin-left: 4%;
            }
          }
        }
      }

      .survey-invite-description-container {
        width: 60%;
        margin: 10%;

        .survey-invite-description {
          font-size: 19px;
          line-height: 25px;
        }

        .survey-invite-survey-link {
          .survey-invite-link-to-survey {
            padding: 7px;
            max-width: 8rem;
            margin: 3% auto;
          }
        }
      }
    }
  }
}
