.input {
  width: 100%;

  .MuiOutlinedInput-notchedOutline {
    border: 1px solid #323449;
  }

  .MuiOutlinedInput-root {
    background: white;
    border-radius: 10px;
    height: 6vh;
  }

  .MuiInputBase-input::placeholder {
    padding-left: 0;
  }

  .icon-eye {
    color: #323449;
  }
}

.input-password-error {
  width: 100%;

  fieldset {
    border: none;
  }
}





