.restore-password {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  .restore-password-flexbox {
    align-self: center;
    margin: 0;
    width: 60%;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .header-text {
      font-weight: 600;
      width: 100%;
      font-size: 40px;
      text-align: center;
      color: #cfb389;
      -webkit-text-stroke: 0.5px black;
    }

    .input-helper .MuiInputBase-input {
      color: White;
      border-radius: 5px;
    }
  }
}

@media screen and (max-width: 1750px) {
  .restore-password {
    .restore-password-flexbox {
      width: 90%;

      .header-text {
        font-size: 37px;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .restore-password {
    .restore-password-flexbox {
      width: 90%;
    }

    .header-text {
      font-size: 33px;
    }
  }
}

@media screen and (max-width: 850px) {
  .restore-password {
    .restore-password-flexbox {
      width: 90%;

      .header-text {
        font-size: 28px;
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .restore-password {
    .restore-password-flexbox {
      width: 90%;

      .header-text {
        font-size: 22px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .restore-password {
    .restore-password-flexbox {
      width: 90%;

      .header-text {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .restore-password {
    .restore-password-flexbox {
      width: 90%;
    }
  }
}
