@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

body {
  height: 100vh;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
