.account-page-main {
  background: rgba(207, 179, 137, 0.19);
  min-height: 100vh;

  .account-page-body {
    display: flex;

    .account-page-left-menu {
      width: 30vw;
      margin-top: 5vh;
      padding-left: 2vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .account-page-title {
        margin-bottom: 5vh;
        font-size: 25px;
      }

      .account-page-body {
        display: flex;
        flex-direction: column;

        .account-page-all-users {
          .account-page-all-users-url {
            display: flex;
            align-items: center;
            font-size: 25px;
            color: black;
          }

          .account-page-all-users-logo {
            width: 30px;
            height: 30px;
            margin-right: 5px;
          }
        }

        .account-page-item {
          width: 100%;
          margin-top: 3vh;

          .users-grades-statuses-url {
            display: flex;
            align-items: center;
            font-size: 25px;
            color: black;
            cursor: pointer;

            .user-grade-status-logo {
              width: 30px;
              margin-right: 7px;
            }
          }
        }
      }
    }

    .account-page-right-block {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 3vh;
      font-size: 30px;
      width: 70vw;
     
      .account-page-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60vw;
        height: 70vh;
        margin-top: 5vh;
        background-color: rgba(0, 0, 0, 0.21);
        padding: 1vw;
        border-radius: 20px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .account-page-main {
    .account-page-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .account-page-left-menu {
        width: 95vw;

        .account-page-item {
          width: 100%;
        }
      }

      .account-page-right-block {
        width: 95vw;
        display: flex;
        align-items: center;
        justify-content: center;  
        flex-direction: column;
        
        .account-page-bar {
          width: 90%;
          margin-top: 5vh;
          margin-bottom: 2vh;
          background-color: rgba(0, 0, 0, 0.21);
          border-radius: 20px;
        }
      }
    }
  }
}
