.wrapper-main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;

  .wrapper-left {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;
    line-height: 45px;
    width: 50%;
    padding-left: 2%;
    margin-top: 10%; 

    .greeting-main {
      padding-left: 2vw;
      padding-right: 3vw;
      color: #cfb389;
      margin-bottom: 30px;
    }

    .description-main {
      margin-top: 1%;
      font-weight: 400;
      text-align: center;
      color: #cfb389;
    }
  }

  .wrapper-right {
    .login-form {
      margin-top: 25vh;
      padding-left: 2vw;
      padding-right: 3vw;
      font-size: 50px;
      line-height: 78px;
      color: #cfb389;
      margin-bottom: 30px;
      text-align: center;

      .login-form-come-in {
        margin-bottom: 50px;
      }

      .restore {
        font-weight: 400;
        font-size: 30px;
        text-align: center;
        color: #ffffff;
        display: inline-block;
      }

      .link-restore {
        color: #cfb389;
        display: inline-block;
        margin-left: 14px;
        font-size: 30px;
      }

      .main-button-helper {
        font-size: 50px;
        transition: 0.3s;
        width: 50%;
        height: 100%;
        padding: 20px 0;
        margin: 50px auto 5px auto;
        border-radius: 10px;
      }

      .entrance {
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .wrapper-main {
    .wrapper-right {
      .login-form {
        .login-form-come-in {
          font-size: 40px;
        }
        .restore {
          font-size: 20px;
        }
        .link-restore {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .wrapper-main {
    .wrapper-left {
      font-size: 30px;
      line-height: 40px;
    }
  }
}

@media screen and (max-width: 670px) {
  .wrapper-main {
    .wrapper-left {
      .greeting-main {
        font-size: 22px;
        margin-left: 0%;
      }

      .description-main {
        font-size: 18px;
        line-height: 2;
        margin-left: 10%;
      }
    }
    .wrapper-right {
      .login-form {
        .login-form-come-in {
          font-size: 40px;
          margin-bottom: 10%;
        }

        .main-button-helper {
          width: 50%;
          padding-bottom: 4%;
          padding-top: 4%;
          margin-top: 10%;
          .entrance {
            font-size: 30px;
          }
        }

        .restore {
          font-size: 15px;
          height: 60px;
          margin-bottom: 0;
        }

        .link-restore {
          margin-top: 0;
          font-size: 15px;
          height: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .wrapper-main {
    .wrapper-left {
      .greeting-main {
        font-size: 20px;
        line-height: 1.5;
      }

      .description-main {
        font-size: 15px;
        line-height: 1.5;
        text-align: left;
        margin-left: 17%;
      }
    }

    .wrapper-right {
      .login-form {
        .login-form-come-in {
          font-size: 30px;
          margin-bottom: 10%;
        }

        .main-button-helper {
          width: 50%;
          padding-bottom: 4%;
          padding-top: 4%;
          margin-top: 10%;
          margin-bottom: 0;
          .entrance {
            font-size: 20px;
          }
        }

        .restore {
          font-size: 10px;
          height: 60px;
          margin-bottom: 0;
        }

        .link-restore {
          margin-top: 0;
          font-size: 10px;
          height: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .wrapper-main {
    .wrapper-left {
      width: 90%;
    }
    .wrapper-right {
      .login-form {
        .login-form-come-in {
          font-size: 30px;
          margin-bottom: 5%;
        }

        .main-button-helper {
          width: 50%;
          padding-bottom: 4%;
          padding-top: 4%;
          margin-top: 10%;
          .entrance {
            font-size: 20px;
          }
        }

        .restore {
          font-size: 10px;
          height: 60px;
          margin-bottom: 0;
        }

        .link-restore {
          margin-top: 0;
          font-size: 10px;
          height: 60px;
        }
      }
    }
  }
}
