.wrapper-main {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-auto-columns: minmax(1fr, auto);
    height: 90vh;
}

.wrapper-left {
    display: flex;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: minmax(1fr, auto);
    text-align: center;
    background-color: white;

    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper-right {
    background-color: #E5F8FF;


    align-items: center;
}

.lottie-shadow {
    height: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.greeting-main {
    margin: 10px;

    width: 100%;

    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 82px;

    color: #34363E;
}

.description-main {
    margin: 10px;

    width: 60%;

    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    text-align: center;

    color: #54585E;
}

.button {
    display: inline-block;
    border-radius: 12px;
    background-color: #215BFD;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

    mix-blend-mode: normal;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


@media screen and (max-width: 1024px) {
    .wrapper-right {
        display: flex;
        justify-content: center;
    }

    .greeting-main {
        font-size: 48px;
    }

    .description-main {
        font-size: 24px;
    }

    .button {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .greeting-main {
        font-size: 36px;
    }

    .description-main {
        font-size: 20px;
    }

    .button {
        font-size: 22px;
    }
}

@media screen and (max-width: 451px) {
    .wrapper-right {
        display: none;
    }

    .wrapper-left {
        height: 90%;
    }

    .wrapper-main {
        display: block;
    }

    .greeting-main {
        font-size: 38px;
    }

    .description-main {
        font-size: 20px;
    }

    .button {
        font-size: 16px;
    }
}

@media screen and (max-width: 376px) {
    .wrapper-right {
        display: none;
    }

    .wrapper-left {
        height: 90%;
    }

    .wrapper-main {
        display: block;
    }

    .greeting-main {
        font-size: 32px;
    }

    .description-main {
        font-size: 16px;
    }
}

@media screen and (max-width: 321px) {
    .wrapper-right {
        display: none;
    }

    .wrapper-left {
        height: 90%;
    }

    .wrapper-main {
        display: block;
    }

    .greeting-main {
        font-size: 28px;
    }

    .description-main {
        font-size: 16px;
    }
}